<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- 	<typeAliases> -->
<!-- 		<typeAlias type="com.sishuok.architecture1.customermgr.vo.CustomerModel" alias="CM"/> -->
<!-- 	</typeAliases> -->
	
	<!-- 配置分页拦截器 -->
<!-- 	<plugins> -->
<!-- 		<plugin interceptor="com.sishuok.pageutil.PagePlugin"> -->
<!-- 			 如果同时需要一种以上数据库，就只能修改这个插件获取方言的方式和分页时的具体实现  -->
<!-- 			<property name="dialect" value="mysql" /> -->
<!-- 			 哪些方法发起的sql需要被替换  -->
<!-- 			<property name="pageSqlId" value=".*Page.*" /> -->
<!-- 		</plugin> -->
<!-- 	</plugins> -->

</configuration>     